<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Numerology Software{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
  <main class="container">
    {% block content %}
      
    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="flash-messages">
    {% for category, msg in messages %}
    <div class="alert alert-{{ category }}">{{ msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
{% endwith %}

  </main>
</body>
</html>
